ncmpcpp/error.log
*.log
config/i3/config
config/polybar/mounts.ini
config/vifm/vifminfo
config/vifm/vifm-help.txt
config/qutebrowser/quickmarks
config/qutebrowser/private.py
config/qutebrowser/bookmarks/
config/systemd/user/multi-user.target.wants
config/fish/fishd.*
.idea
doom.d/*.elc
