* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: MonoLisa, "Symbols Nerd Font Mono";
  font-size: 16px;
}

window#waybar {
  background-color: rgba(26, 27, 38, 0.9);
  /* background-color: #1a1b26; */
  padding: 10px 0;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  background-color: #302d41;
  border-radius: 5px;
  padding: 1px 3px;
}

#workspaces.secondary {
  margin-top: 8px;
}

#workspaces button {
  padding: 8px 1px;
  background-color: transparent;
  color: #d9e0ee;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each workspace name */
  border: none;
  padding-top: 8px;
  border-radius: 0;
}

#workspaces button.empty {
  color: #6e6c7e;
}

#workspaces button.active {
  color: #96cdfb;
}

#workspaces button:hover,
#workspaces button.focused {
  background-color: #6e6c7e;
  border-radius: 5px;
}

#workspaces button.urgent {
  color: #f28fad;
}

#mode {
  background-color: #64727d;
  border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#custom-maildir,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  /* padding: 0 10px; */
  color: #d9e0ee;
}

#window {
  margin: 5px;
}

/* #window, */
/* #tags { */
/*   margin: 0 4px; */
/* } */

/* If workspaces is the leftmost module, omit left margin */
/* .modules-left > widget:first-child > #tags { */
/*   margin-left: 0; */
/* } */

/* If workspaces is the rightmost module, omit right margin */
/* .modules-right > widget:last-child > #tags { */
/*   margin-right: 0; */
/* } */

.modules-right,
.modules-left {
  padding: 7px;
  margin: 5px 0;
}

#network,
#tray,
#custom-github-pr,
#custom-github-notifications,
#custom-pomodoro,
#custom-maildir,
#battery,
#clock {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  background-color: #302d41;
  border-radius: 5px;
}

#network {
  color: #ebdbb2;
  font-size: 15px;
}

#battery {
  color: #96cdfb;
  font-size: 15px;
}

#custom-github-pr,
#custom-github-notifications,
#custom-pomodoro {
  padding-top: 8px;
}

#custom-pomodoro.running {
  background-color: #cba6f7;
  color: #11111b;
}

#custom-maildir {
  padding-top: 8px;
  color: #96cdfb;
  /* font-size: 25px; */
}

#custom-maildir.newmail {
  background-color: #a6da95;
  color: #11111b;
  /* font-size: 25px; */
}

/* #battery { */
/*   background-color: #ffffff; */
/*   color: #000000; */
/* } */

#battery.charging,
#battery.plugged {
  color: #abe9b3;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f28fad;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#cpu {
  background-color: #2ecc71;
  color: #000000;
}

#memory {
  background-color: #f5c2e7;
  color: #161320;
}

#disk {
  background-color: #964b00;
}

/* #backlight { */
/*   background-color: #90b1b1; */
/* } */

/* #network { */
/*   background-color: #2980b9; */
/* } */

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio {
  background-color: #fae3b0;
  color: #161320;
}

#pulseaudio.muted {
  background-color: #c3bac6;
  color: #575268;
}

#custom-media {
  background-color: #abe9b3;
  color: #161320;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

/* #tray { */
/*   background-color: #2980b9; */
/*   background-color: #302d41; */
/*   border-radius: 5px; */
/*   padding-top: 8px; */
/*   padding-bottom: 8px; */
/* } */

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}
