layout {
    gaps 8
    background-color "transparent"
    preset-column-widths {
        proportion 0.4
        proportion 0.7
        proportion 1.0
        proportion 0.25
    }
    default-column-width { proportion 0.25; }
    focus-ring {
        width 1
        active-gradient from="#80c8ff" to="#c7ff7f" angle=45 in="oklch longer hue"
        inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }
    border {
        off
    }
    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}
