include "./config.input.desktop.kdl"
include "./config.output.desktop.kdl"
include "./config.misc.desktop.kdl"
include "./config.spawns.desktop.kdl"
include "./config.rule.kdl"
include "./config.bindings.all.kdl"
include "./config.bindings.desktop.kdl"
